.root {
  :global {
    // &.selected {
    //   a {
    //     background-color: #fe5f1e;
    //     color: #fff;
    //   }
    // }
    // .previous {
    //   background-color: red;
    // }
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
  li {
    display: inline-block;
    // height: 45px;
    // width: 45px;
    // border: 1px solid #f35f1e;
    // border-radius: 30px;
    // justify-content: center;
    // margin-right: 20px;
    // vertical-align: center;
    // line-height: 42px;
    // text-align: center;
    // cursor: pointer;

    a {
      display: inline-block;
      line-height: 24px;

      height: 45px;
      width: 45px;
      border: 1px solid #f35f1e;
      border-radius: 30px;
      justify-content: center;
      margin-right: 20px;
      vertical-align: center;
      line-height: 42px;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: green;
        color: white;

        // a {
        //   color: white;
        // }
      }
    }

    // &:hover {
    //   background-color: green;

    //   a {
    //     color: white;
    //   }
    // }

    .selected {
      // a {
      background-color: #fe5f1e;
      color: #fff;
      // }
    }
  }
}

.selected {
  // a {
  // background-color: #fe5f1e !important;
  // color: #fff !important;
  // }
}
